<!--{template 'member','header'}-->
<div class="container">
  
  <div class="content" id="top_t">
  <ul id="menu">
            <li class="sec1"><a href="../member">我的首页</a></li>
            <li class="sec1"><a href="../member/index.php?template=order">订单管理</a></li>
            <li class="sec2"><a href="../member/index.php?template=pay&type=amount">财务管理</a></li>
            <li class="sec1"><a href='index.php?template=account'>账户管理</a></li>
        </ul>
        
        <ul id="main">
        <li class=block id="m_left">
                       
      <dl class='bitem'>
        <dt onClick='showHide("items3_1")'><b>财务管理</b></dt>
        <dd style='display:block' class='sitem' id='items3_1'>
          <div class='sitemu'>
            <p><a href='../member/index.php?template=online'>在线支付</a></p>
            <p><a href='../member/index.php?template=bank'>银行汇款</a></p>
            <p><a href='../member/index.php?template=buypoint'>购买点数</a></p>
            <p><a href='../member/index.php?template=verified'>汇款确认</a></p>
            <p><a href='../member/index.php?template=card'>点卡充值</a></p>
            <p><a href='../member/index.php?template=onlinerecord'>支付记录</a></p>
            <p><a href='../member/index.php?template=useramount'>汇款记录</a></p>
            <p><a href='../member/index.php?template=pay&type=amount'>交易记录</a></p>
          </div>
        </dd>
      </dl>
                 
               </li>
               <li class=unblock id="m_left"></li>
               
              
               </ul>
                <div id="m_right">
                  <ul class="my_nav" id="top_t">
                    <li class="sec_2">购买点数</li>
                  </ul>
      <form action="" method="post">
      <table cellpadding="0" cellspacing="1" class="table_list">
      <tr >
      <td colspan="2" bgcolor="#e6f1fb" class="align_l">　 购买点数</td>
      </tr>
      <tr>
       <td width="25%" class="align_r">点数余额：</td>
       <td>{$info[point]}</td>
      </tr> 
      <tr>
       <td class="align_r">资金余额：</td>
       <td>{$info[amount]}</td>
      </tr>
      <tr>
       <td class="align_r"><font color="red">*</font> 卡号：</td>
       <td>
           <input type="text" size="30" name="infos[card]" require='true' datatype='number'  msg='请检查卡号是否输入正确' msgid="card"/> <span id="card"></span>
        </td>
      </tr>
      
      <tr>
       <td class="align_r"></td>
       <td>  <input type="submit" value="确认" name="confirms"/>  <input name="" type="reset" value="重置"/> </td>
      </tr>
       </table>
       
      </form>
     </div>        
   </div>
  </div>

<!--{template 'member','footer'}-->
</body>
</html>