<div id="copyRights">
  <div>
    <div class="left">版权所有：珠海市新维焊接器材有限公司    粤ICP备05088853号</div>
    <div class="right">
	  <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a> </div>
	  <div id="adminAccess"><a href="/admin.php" target="_blank">后台管理</a></div>
	  <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
	</div>
  </div>
</div>
<script>
$(function(){
var paddingHeight = parseInt($(".main").css("padding-top")) + parseInt($(".main").css("padding-bottom"));
var minHeight = $(window).outerHeight() - $("#header").outerHeight() - $(".bannerer").outerHeight() - $("#copyRights").outerHeight() - paddingHeight;
$(".main").css("min-height", minHeight);
})
</script>

</body>
</html>
