@font-face { font-family: newGarden; font-style:  normal; font-weight: 400; src: url("/Public/fonts/newGarden.ttf"); }
.fontFace{ font-family: newGarden; font-size: 3.2em; letter-spacing: 1px; text-align: center; }

body {background:#BBC086; }

header.navbar { background-color: #679412; border-color: #4e6f03; box-shadow: 0 1px 0 rgba(255,255,255,.1); }

header.navbar .navbar-brand { color: #BBC086; font-family: "newGarden"; font-size: 30px;}
header.navbar .navbar-nav li a { color:white;  color:#004400}

header.navbar .navbar-nav>.active>a, 
header.navbar .navbar-nav>.active>a:hover, 
header.navbar .navbar-nav>.active>a:focus 
{
  background-color: #4e6f03;
}

#banner { color:#4e6f03; padding: 90px 15px 40px; font-size: 16px; text-align: center; text-shadow: 0 1px 0 rgba(0,0,0,.15); }
#banner .container { position: relative; }
#banner p { font-weight: 300; line-height: 1.5; }

#bambooLeaf {position:absolute; right:0px; top:50px; z-index:1;}
