@charset "gb2312";
/* CSS Document */

@font-face { font-family: fzcuqian; src: url("font/fzcuqian.ttf"); }
.custom-font { font-family: fzcuqian; }

* { margin:0; padding:0;}
body { font-family:"宋体"; font-size:12px; color:#000000; line-height:24px;}
a { color:#000000; text-decoration:none;}
a:hover { color:#000000; text-decoration:none;}
img { border:none;}
ul { list-style:none;}
li { list-style:none;}
.clear { clear:both;}


/*--------------------------index--------------------------*/
/* Header */
#header    { background:url(images/headbg.jpg) repeat-x left top; height:99px; border-bottom: solid 3px #e60000; }
#headerBox { width:960px; margin:0 auto; }
#logoBox   { float:left; padding-top:30px; }
#logoName  { font-size: 24px; color: #5c5c5c; letter-spacing: 0.4em}
#navBox    { float:right; width:785px;}

#liteNav   { text-align:right; padding-right:25px; color:#6b6b6b; padding-top:15px;}
#liteNav a { color: #6b6b6b;}
#liteNav a:hover { color: black;}
#liteNav .sy { background:url(images/sy.jpg) no-repeat left center; padding-left:15px;}
#liteNav .lx { background:url(images/lx.jpg) no-repeat left center; padding-left:15px;}
#liteNav .xz { background:url(images/xz.jpg) no-repeat left center; padding-left:15px;}
#liteNav .en { background:url(images/en.jpg) no-repeat left center; padding-left:15px;}

#nav {padding-top:4px;}
#nav li { float:left; width:98px; height:40px; line-height:19px; padding-top:8px; text-align:center; font-size:14px; color:#5c5c5c;}
#nav li a { display:block; color:#5c5c5c; height:40px; line-height:19px; padding-top:8px;}
#nav li a:hover { background:url(images/navbg.png) no-repeat center top; height:40px; padding-top:8px; color:#FFF;}
#nav li.selectd { color:#fff;background:url(images/navbg.png) no-repeat center 8px; height:50px; padding-top:8px; color:#FFF;}
#nav li.selectd a{color:#fff;}
#nav .en {font-family:Arial; font-size:12px; color: #848484; font-weight: lighter}
#nav li a:hover .en{ color:#FFF;}

/* Banner */
#banner{ width:100%; height: 470px; text-align: center;}
#banner img {width: 960px; height: 100%;}

/* Slogan */
#slogan {margin: 30px; text-align: center}
#slogan p {color: #878787; font-size: 18px;}

/* Ours */
#ours {width: 960px; height: 210px; margin: 0 auto; background: #fafafa; border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5}
#ours .our {width: 240px; height: 210px; float: left;}
#ours .our div {padding: 40px 20px 20px 20px;}
#ours .our h2 a {font-size: 25px; color: #5c5c5c; border-top: 1px solid #373737; padding-top: 15px; }
#ours .our h2 a:hover { color: black}
#ours .our p  {line-height: 150%; letter-spacing: 1px; color: #676767; padding-top: 10px}

/* Services */
#services {width: 960px; height: 315px; margin: 0 auto; margin-top: 30px; margin-bottom: 30px;}
#middleBox {padding: 0px 7.5px}
#services > div {width: 315px; height: 100%; float: left; }
#services [class^=cellBox] {float:left;}
#services [class^=cellBox].mouseover {float:left; z-index: 99}
#services [class^=cellBox].mouseover .cell {position: absolute}
#services .cellBox11 {width: 105px; height: 105px}
#services .cellBox21 {width: 210px; height: 105px}
#services .cellBox22 {width: 210px; height: 210px}
#services .cellBox32 {width: 315px; height: 210px}
#services .cell {padding: 3.5px;}

#customBox1 .cell div {background: #e60000; width: 204px; height: 99px; text-align: center; }
#customBox1 .cell div a{color: white; font-size: 25px; line-height: 99px;}

#services {position: relative}
#customBox2 {position: absolute; bottom: 0px;}
#customBox2 .cell div {background: #e60000; width: 99px; height: 99px; text-align: center; }
#customBox2 .cell div:hover {background: #f20000;}
#customBox2 .cell div a{color: white; font-size: 25px; line-height: 99px;}

/* Friends */
#friends .title, #friends .desc {text-align: center}
#friends .title a {font-size: 25px; padding-top: 15px; border-top: 1px solid #373737; color: #5c5c5c}
#friends .desc  {color: #878787; font-size: 18px;}
#friends .links {text-align: center; padding: 20px;}

/* LiteFooter */
#liteFooter {width: 960px; height: 80px; margin: 0 auto; background: #fafafa; border-top: 1px solid #e5e5e5;}
#liteFooter > div {width: 50%; height:100%; float:left;}
#liteFooter > div > div { padding: 20px}
#liteFooter .leftBox div { text-align: right; position: relative}
#liteFooter .leftBox h2 { font-size: 25px; color: #5c5c5c}
#liteFooter .leftBox p { font-size: 16px; color: #676767; margin-top: 7px; position: absolute; right: -15px;}
#liteFooter .rightBox div {padding-top: 30px;}
#liteFooter .rightBox a { margin-left: 100px; font-size: 20px; padding: 15px 30px; background: #de000d; color: white;}
#liteFooter .rightBox a:hover { background: #f20000}

/* Footer */
#footer {height: 255px; background: #5c5c5c}
#footer > div { width: 33.33%; height:100%; float:left;}
#footer > div > div {padding: 30px;}
#footer .title {text-align: left}
#footer .title a {font-size: 18px; font-weight: lighter; padding-top: 15px; border-top: 1px solid white; color: white}
#footer .title a:hover { color: #c4121d}
#footer .desc p {font-size: 14px; color: #c9c9c9}
#footer .desc p a{color: #c4121d}
#footer .icon-star {color: #c4121d}

/* CopyRights */
#copyRights {background: #f2f2f2; height: 50px;}
#copyRights span {font-size: 18px; color: #5c5c5c; padding:10px; }
#copyRights .left {text-align: left}
#copyRights .right {text-align: right}

/*----------------------------list_news-------------------------------*/

.bannerer{ width:960px; margin:0 auto; padding-top:10px;}
.left{ float:left; width:210px;}
.right{ float:right; width:728px;}

.daohang li{ margin-top:1px; color:#6b6c6c;}
.daohang li.selectd{ background:url(images/libg1.jpg) no-repeat left top; color:#FFF;}
.daohang a{ display:block; background:url(images/libg.jpg) no-repeat left top; height:29px; line-height:29px; padding-left:25px; color:#6b6c6c; overflow:hidden; height:100%;}
.daohang a:hover{ background:url(images/libg1.jpg) no-repeat left top; color:#FFF;}

.hh3{ height:25px; line-height:25px; border-bottom:solid 1px #d6d6d6; position:relative;}
.hh4{ position:absolute; left:0; bottom:-1px; _bottom:-2px; font-family:"微软雅黑"; font-size:12px; color:#333333; border-bottom:solid 2px #176eb1;}

.location{ padding-right:10px; color:#555555;}
.location a{ background:url(images/location.jpg) no-repeat right center; padding:0 15px 0 5px; color:#555555;}
.location a:hover{ color:#555555;}

.news ul{ padding-top:10px; padding-right:1px;font-family:"微软雅黑"; }
.news li{ border-bottom:dashed 1px #b7b7b7; padding-bottom:8px; padding-top:8px;}
.biaoti4{ font-family:"宋体"; font-size:12px; font-weight:bold; color:#4a4a4a;}
.biaoti4 a,.biaoti4 a:hover{ color:#4a4a4a;}
.miaoshu2{ line-height:18px; color:#626262; padding-top:5px;}
.xiangxi1{ color:#1885c2;}
.xiangxi1 a,.xiangxi1 a:hover{ color:#1885c2;}

.pagess{ clear:both; text-align:center; padding:30px 0 8px 0; color:#333333;}
.pagess a{ padding:4px 9px; border:solid 1px #c3c3c3; margin-right:10px; color:#333333;}
.pagess a:hover{ border:solid 1px #1828a4; color:#1828a4;}

/*----------------------------list_down-----------------------------*/

.down li{ border-bottom:dashed 1px #b7b7b7; padding-bottom:5px; padding-top:10px;}
.biaoti2{ font-weight:bold; color:#4a4a4a;}
.biaoti2 a,.biaoti2 a:hover{ color:#4a4a4a;}
.shijian{ color:#9b9b9b; padding-left:20px;}
.miaoshu{ color:#7a7a7a;}
.xiazai{ color:#1771b3;}
.xiazai a,.xiazai a:hover{ color:#1771b3; text-decoration:underline;}

/*---------------------------list_products---------------------------*/

.products{ width:728px; overflow:hidden;}
.products ul{ width:800px; padding-top:15px;}
.products li{ float:left; width:347px; margin-right:29px; padding-bottom:20px;}
.products li img{ float:left; border:solid 3px #dddddd; margin-right:11px;}
.biaoti5{ font-family:"宋体"; font-size:14px; font-weight:bold; color:#000000;}
.biaoti5 a,.biaoti5 a:hover{ color:#000000;}
.miaoshu3{ line-height:20px; color:#686868; padding-top:5px;}

.pages{ clear:both; text-align:center; padding:15px 0 8px 0; color:#333333;}
.pages a{ padding:4px 9px; border:solid 1px #c3c3c3; margin-right:10px; color:#333333;}
.pages a:hover{ border:solid 1px #1828a4; color:#1828a4;}

/*-------------------------show_news-------------------------------*/

.title{ font-size:14px; font-weight:bold; color:#4a4a4a; text-align:center; padding-top:20px; padding-bottom:8px;}
.fabu{ padding-bottom:8px; text-align:center; border-bottom:dashed 1px #b7b7b7; color:#6b6c6c;}
.content{ padding:15px 5px 20px 5px; color:#333333;}
.fenye{ border-top:dashed 1px #b7b7b7; padding-top:10px; color:#6b6c6c;}
.fenye a,.fabu a:hover{ color:#4a4a4a;}

/*-------------------------show_products---------------------------------*/

.pro-top{ width:728px;padding-top:15px; padding-bottom:28px;}

.biaoti3{ font-family:"微软雅黑"; font-size:14px; font-weight:bold; color:#333333; padding-top:5px;}
.miaoshu1{ font-family:"微软雅黑"; padding-top:5px;}
.fenxiang{ clear:both;padding-top:5px;}

.hhh{ clear:both;}
.hh5{ background:#dfdfdf; height:27px; line-height:27px;}
.hh6{ background:#1885c2; width:74px; text-align:center; font-family:"微软雅黑"; font-size:12px; color:#FFF;}

.fenye1{ background:#dfdfdf; height:27px; line-height:27px; color:#5d5d5d;}
.fenye1 a,.fenye1 a:hover{ color:#5d5d5d;}

/*-------------------------single---------------------------*/

.single{ padding:15px 5px 20px 5px; color:#4a4a4a;}
.bb{ font-size:14px; font-weight:bold;}






#preview{ float:left; margin-bottom:10px;  width:380px; margin-right:5px;}
.jqzoom{ width:350px; height:350px; position:relative;}

.zoomdiv{ left:859px; height:400px; width:400px;}
.list-h li{ float:left;}
#spec-n5{width:350px; height:56px; padding-top:6px; overflow:hidden;}
#spec-left{ background:url(skin/images/left.gif) no-repeat; width:10px; height:45px; float:left; cursor:pointer; margin-top:5px;}
#spec-right{background:url(skin/images/right.gif) no-repeat; width:10px; height:45px; float:left;cursor:pointer; margin-top:5px;}
#spec-list{ width:325px; float:left; overflow:hidden; margin-left:2px; display:inline;}
#spec-list ul li{ float:left; margin-right:0px; display:inline; width:62px;}
#spec-list ul li img{ padding:2px ; border:1px solid #ccc; width:50px; height:50px;}

#n{margin:10px auto; width:920px; border:1px solid #CCC;font-size:12px; line-height:30px;}
#n a{ padding:0 4px; color:#333}

/*jqzoom www.divcss5.com */
.jqzoom{position:relative;padding:0;}
.zoomdiv{z-index:100;position:absolute;top:1px;left:0px;width:400px;height:400px;background:url(i/loading.gif) #fff no-repeat center center;border:1px solid #e4e4e4;display:none;text-align:center;overflow: hidden;}
.bigimg{width:800px;height:800px;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:50px;height:50px;border:1px solid #aaa;background:#FEDE4F 50% top no-repeat;opacity:0.5;-moz-opacity:0.5;-khtml-opacity:0.5;filter:alpha(Opacity=50);cursor:move;}
#spec-list{ position:relative; width:322px; margin-right:6px;}
#spec-list div{ margin-top:0;margin-left:-30px; *margin-left:0;}

